<h1>Sửa giang vien</h1>

<form action="/update" method="POST">
    ID: <input type="number" name="id" value="<%= giangVien.id %>">  <br>
    hoTen: <input type="text" name="hoten" value="<%= giangVien.hoTen %>"> <br>
    diaChi: <input type="text" name="diachi" value="<%= giangVien.diaChi %>"> <br>
    SDT: <input type="number" name="sdt" value="<%= giangVien.SDT %>"> <br>
    maGiangVien: <input type="text" name="magiangvien" value="<%= giangVien.maGiangVien %>"> <br>
    <button type="submit">Sửa giang vien</button>
</form>
