<!DOCTYPE html>
<html>
  <head>
    <title>Danh Sach Giang Vien</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Danh Sach Giang Vien</h1>
    <!-- them lop -->
    <a href="form-add"><button>Them Giang Vien</button></a> <br>
    
    <table border="2"> 
      <tr>
        <th>ID</th>
        <th>hoTen</th>
        <th>diaChi</th>
        <th>SDT</th>
        <th>maGiangVien</th>
        <th>ACTION</th>

      </tr>
      <% giangViens.forEach(item => { %>
       <tr>
          <td><%= item._id %></td>
          <td><%= item.hoTen %></td>
          <td><%= item.diaChi %></td>
          <td><%= item.SDT %></td>
          <td><%= item.maGiangVien %></td>
          <td><a href="/form-update/<%= item._id %>" >UPDATE</a> || <a href="/form-delete/<%= item._id %>" >DELETE</td>
       </tr>
      <% }) %>
    </table>
  </body>
</html>
